#dctable td{
    margin: 5px 20px;
    border: 2px white solid;
    background: #E7F4F9;
    font-size: 11px;
}

#dctable th{
    font-size: 14px;

}
#dchome{
    margin-top: 65px;
}

#dcrecevedbag{
    margin-top: 100px;
}
#assignfe{
    margin-top: 100px;
}

#pendingeod{
    margin-top: 100px;
}

#finaleod{
    margin-top: 100px;
}

#lost{
    margin-top: 100px;
}

#returnpro{
    margin-top: 100px;
}

#returnpro{
    margin-top: 100px;
}