#mainmenu{
    margin-left: 30vh;
    margin-top: 25vh;
   
}
#srchmenu{
    margin-left: 68vh;
    margin-top: 13vh;
    position: absolute;
    height: 10vh;
    justify-content: center;
}

#perfomance{
    margin-left: 30vh;
    margin-top: 25vh;
}
#picrq{
    margin-left: 15vh;
    margin-top: 25vh;
   
}
#tracksrc{
    margin-left: 10vh;
}
#sr{
    margin-left: 30vh;
    margin-top: 19vh;
}
#report{
    margin-left: 32vh;
    margin-top: 10vh;
}
